body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}
h3{
    color: cornflowerblue;
}
.orange-color{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 201, 110), tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
#full-stake-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(0, 0, 0), rgb(244, 248, 15));
    border-image-slice: 1;  
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;    
}
footer p{
    text-align: center;
}